<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>OpenAI by</span>
    <a
      b-slate-link
      href="https://wa.me/6281262163214" target="_blank"
    >
      Radja Aditya Chandra
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://github.com/" target="_blank"
    >
      Git Hub
    </a>
  </p>
</footer>
